body {
    font-size: 16px;
}

/****************
 Menu - Navbar
****************/
.navbar-form input {
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 0;
  background: #333;
  color: #fff;
  margin-top: -5px;
}

.navbar {
  background: #000;
  margin-bottom: 1em;
}

.navbar-default .navbar-brand {
  font-family: "Roboto", helvetica, arial, verdana, sans-serif;
  font-weight: 400;
  font-size: 2em;
  height: 72px;
  line-height: 72px;
  padding: 0; 
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:hover span {
  color: #3498db;
}

.navbar-default .navbar-brand span {
  color: #3498db;
  font-weight: 300;
}

.navbar-default {
  border: 0;
  border-bottom: 1px solid #333;
  margin: 0;
  margin-bottom: 2em;
  line-height: 72px;
  height: 72px;
  border-radius: 0;
  -moz-border-radius: 0;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.navbar-form {
  margin: 0;
}

/****************
 Sidebar Navigation
****************/

.nav-stacked > li + li {
  margin-top: 1em;
}

.nav > li > a:focus, 
.nav > li > a:hover {
  background-color: #3498db;
  color: #fff;
}

.nav-pills > li > a {
  color: #777;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
  background-color: #333;
}

li.navigation-header {
  color: #3498db;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1em 0;
  padding-left: 15px;
}

/****************
 Dashboard Content
****************/

.page-header {
  border-bottom: 1px solid #333;
}

/*pie charts*/

.ct-series-a .ct-area, 
.ct-series-a .ct-slice-pie {
  fill: #3498db;
}

.ct-series-b .ct-area, 
.ct-series-b .ct-slice-pie {
  fill: #3db1ff;
}

.ct-series-c .ct-area, 
.ct-series-c .ct-slice-pie {
  fill: #2980b9;
}

.charts {
  text-align: center;
}

/*widgets Panels */
.panel {
  background: transparent;
}

.panel h2 {
  margin-top: 0;
}

.panel i {
  font-size: 4em;
}

.panel-success {
  border-color: #2ecc71;
}

.panel-success > .panel-heading {
  color: #fff;
  background: #2ecc71;
  border-color: #2ecc71;
}

.panel-success i {
  color: #2ecc71;
}

.panel-danger {
  border-color: #e74c3c;
}

.panel-danger > .panel-heading {
  color: #fff;
  background: #e74c3c;
  border-color: #e74c3c;
}

.panel-danger i {
  color: #e74c3c;
}

/*tables*/



/****************
 Footer
****************/

footer {
  margin-top: 6em;
  padding-bottom: 2em;
  padding-top: 2em;
  border-top: 1px solid #333;
  color: #333;
}
